<template>
  <!-- todo : corriger l'affichage des waypoints sur la map-->
  <v-container
    id="google-maps"
    fluid
    tag="section"
  >
    <head />

    <v-col
      cols="12"
      style="
    padding-top: 0px;
"
    >
      <v-card>
        <div
          id="mapContainer"
          class="basemap"
          style="height : 650px; padding-top:0px;"
        />
      </v-card>
    </v-col>

    <!--<v-row>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <v-card>
          <v-card-title>
            Incendit : {{ //getNumberOfWaypointsType("fire")
             }}
            <v-btn
              icon
              @click="show1 = !show1"
            >
              <v-icon>{{ show1 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-title>
          <v-expand-transition>
            <div v-show="show1">
              <v-divider />
              <v-card-text>
                Incendits of vehicle or building
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <v-card>
          <v-card-title>
            Bikes : {{ //getNumberOfWaypointsType("bike")
            }}
            <v-btn
              icon
              @click="show2 = !show2"
            >
              <v-icon>{{ show2 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-title>

          <v-expand-transition>
            <div v-show="show2">
              <v-divider />
              <v-card-text>
                Bikes are the number of bike station avalables on rental with subscription
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <v-card>
          <v-card-title>
            Car Crash : {{ //getNumberOfWaypointsType("car crash")
            }}
            <v-btn
              icon
              @click="show3 = !show3"
            >
              <v-icon>{{ show3 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-title>
          <v-expand-transition>
            <div v-show="show3">
              <v-divider />
              <v-card-text>
                here we can put more details or information to
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <v-card>
          <v-card-title>
            Closed Road : {{ //getNumberOfWaypointsType("closed road")
            }}
            <v-btn
              icon
              @click="show4 = !show4"
            >
              <v-icon>{{ show4 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-title>
          <v-expand-transition>
            <div v-show="show4">
              <v-divider />
              <v-card-text>
                here we can put more details or information to
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>-->
  </v-container>
</template>

<script>
</script>

<script>
  import mapboxgl from 'mapbox-gl'
  import {
    mapState,
  } from 'vuex'

  export default {
    name: 'BaseMap',
    data () {
      return {
        //show1: false,
        //show2: false,
        //show3: false,
        //show4: false,
        //numberOfFire: 12,
        //numberOfBike: 104,
        //numberOfCarCrash: 23,
        //numberOfClosedRoad: 4,
        accessToken: 'pk.eyJ1IjoibWFnbmFzaWUiLCJhIjoiY2p2M3A1bTc5MXZiOTQ0bzQxMXQwcmw4aiJ9.bRtmeZ4gH_zvHEjNQJtP7g',

      }
    },

    computed: {
      ...mapState([]),
      items: {
        get () {
          //return this.$store.state.itemsWaypoints
        },
        set (val) {
          //this.$store.commit('SET_ITEMSWAYPOINTS', val)
        },
      },
    },

    mounted () {
      mapboxgl.accessToken = this.accessToken

      var map = new mapboxgl.Map({ // eslint-disable-line no-new
        container: 'mapContainer',
        style: 'mapbox://styles/magnasie/cjv3sr37j1k511fpjsu805oni',
        center: [4.842500, 45.767036], // centrer sur lyon
        zoom: 12,
        maxBounds: [ /* limite de la carte fixée sur la france */
          [-4.930302, 40.974905], /* point limite SW */
          [10.461543, 51.425919], /* point limite NE */
        ],
      })
      var marker = new mapboxgl.Marker({className: 'markerFire'}).setLngLat([4.842500, 45.767036]).addTo(map);
      //arrayofpointTMPbeforDataBase.forEach(element => {
      //  var marker = new mapboxgl.Marker({className: 'markerFire'})
      //  .setLngLat([element.geometry.coordinates[0], element.geometry.coordinates[1]])
      //  .addTo(map);
      //});
    },

    methods: {
      /* temp array of pointer waiting for db to be linked properly */

      //getNumberOfWaypointsType (type) {
      //  let nbr = 0
      //  this.items.forEach(element => { if (element.type === type) { nbr += 1 } })
      //  return nbr
      //},
    },
  }
  const arrayofpointTMPbeforDataBase = [
    {
      type: 'Pointer',
      comment: 'EPITECH',
      geometry: {
        type: 'Troll',
        coordinates: [4.835066, 45.746261],
      },
    },
    {
      type: 'Pointer',
      comment: 'tunel de la croix rousse fermé',
      geometry: {
        type: 'ClosedRoad',
        coordinates: [4.838146, 45.772644],
      },
    },
    {
      type: 'Pointer',
      comment: 'il y a un incendit dans une poubelle',
      geometry: {
        type: 'Fire',
        coordinates: [4.842623, 45.757934],
      },
    },
    {
      type: 'Pointer',
      comment: 'accident de la route',
      geometry: {
        type: 'Accident',
        coordinates: [4.858064, 45.763596],
      },
    },
    {
      type: 'Pointer',
      comment: 'Greve SNCF',
      geometry: {
        type: 'TransportProblem',
        coordinates: [4.825483, 45.748288],
      },
    },
    {
      type: 'Pointer',
      comment: 'marché de Caluire-et-Cuire',
      geometry: {
        type: 'Market',
        coordinates: [4.807788, 45.796966],
      },
    },
  ]
  /*
  arrayofpointTMPbeforDataBase.forEach(function (item) {
    const el = document.createElement('div')
    switch (item.geometry.type) { // select the right balise
      case 'Troll':
        el.className = 'markerTroll'
        break
      case 'Fire':
        el.className = 'markerFire'
        break
      case 'ClosedRoad':
        el.className = 'markerClosedRoad'
        break
      case 'WorkInProgress':
        el.className = 'markerWorkInProgress'
        break
      case 'Accident':
        el.className = 'markerAccident'
        break
      case 'TransportProblem':
        el.className = 'markerTransportProblem'
        break
      case 'Velo':
        el.className = 'markerVelo'
        break
      case 'Market':
        el.className = 'markerMarket'
        break
      case 'FleaMarket':
        el.className = 'markerFleaMarket'
        break
      case 'TraficJam':
        el.className = 'markerTraficJam'
        break
      case 'PickPocket':
        el.className = 'markerPickPocket'
        break
      case 'Police':
        el.className = 'markerPolice'
        break
      case 'FireFighter':
        el.className = 'markerFireFighter'
        break
      case 'StreetArt':
        el.className = 'markerStreetArt'
        break
    }
    new mapboxgl.Marker(el)
      .setLngLat(item.geometry.coordinates)
      .addTo(map)
  })
*/

</script>
