<template>
  <v-container
    id="waypoints"
    fluid
    tag="section"
  >
    <v-card>
      <v-toolbar elevation="0">
        <v-toolbar-title>Messages</v-toolbar-title>
        <v-spacer />
        <v-text-field
          v-model="search"
          hide-details
          prepend-icon="mdi-magnify"
          single-line
        />
        <v-dialog
          v-model="itemDelete"
          max-width="500px"
        >
          <v-card>
            <v-card-title class="text-h5">
              Are you sure you want to delete this item?
            </v-card-title>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="blue darken-1"
                text
                @click="closeDelete"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="deleteItemConfirm"
              >
                OK
              </v-btn>
              <v-spacer />
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="items"
        :items-per-page="10"
        class="elevation-1"
        dense
        elevation="0"
        sort-by="name"
        @click:row="handleClickMessageRow"
      >
        a
        <template v-slot:[`item.actionEdit`]="{ item }">
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
          <!--<edit-user :userdata="row" />-->
        </template>
        <template v-slot:[`item.type`]="{ item }">
          <v-chip
            :color="getColor(item.type)"
            dark
          >
            {{ item.type }}
          </v-chip>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  import {
    mapState,
  } from 'vuex'

  export default {
    name: 'DashboardDashboard',

    data () {
      return {
        itemDelete: false,
        items: [],
        dialog: false,
        search: '',
        tabs: 0,
      }
    },

    computed: {
      ...mapState([]),
      headers: {
        get () {
          return this.$store.state.headersMessage
        },
      },
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      itemDelete (val) {
        val || this.closeDelete()
      },
    },
    mounted () {
      this.GetAllMessageApi()
    },

    methods: {
      testFunck () {
        console.log(this.items)
      },
      handleClickMessageRow (row) {
        // console.log(row)
        // todo : open detail
      },
      /* editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      }, */

      deleteItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.itemDelete = true
      },
      deleteItemConfirm () {
        // todo : call api  remove message
        this.items.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      /* close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      }, */

      closeDelete () {
        this.itemDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem)
        } else {
          this.items.push(this.editedItem)
        }
        this.close()
      },
      complete (index) {
        this.list[index] = !this.list[index]
      },
      GetAllMessageApi () {
        // console.log('btn api test')
        const axios = require('axios')
        axios.get('http://185.223.73.69:8080/getallforms').then((res) => {
          this.items = res.data.docs
          // console.log(res.data.docs)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
    },
  }
</script>

<style>
.selected {
    background-color: red
}
</style>
