<template>
  <v-container
    id="waypoints"
    fluid
    tag="section"
  >
    <v-card>
      <v-toolbar elevation="0">
        <v-toolbar-title>Waypoints</v-toolbar-title>
        <v-spacer />
        <v-text-field
          v-model="search"
          hide-details
          prepend-icon="mdi-magnify"
          single-line
        />
        <v-dialog
          v-model="dialog"
          max-width="1000px"
        >
          <template v-slot:activator="{ on, attrs }">
            <!-- todo : maj les infos du form pour matcher avec l'API-->
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Item
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.id"
                      label="id"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.drop"
                      label="drop"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.date"
                      label="date"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.location"
                      label="location"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.type"
                      label="type"
                    />
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.status"
                      label="status"
                    />
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog
          v-model="itemDelete"
          max-width="500px"
        >
          <v-card>
            <v-card-title class="text-h5">
              Are you sure you want to delete this item?
            </v-card-title>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="blue darken-1"
                text
                @click="closeDelete"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="deleteItemConfirm"
              >
                OK
              </v-btn>
              <v-spacer />
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="items"
        :items-per-page="10"
        class="elevation-1"
        dense
        elevation="0"
        sort-by="name"
        @click:row="handleClickWaypointRow"
      >
        <template v-slot:[`item.actionEdit`]="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
          <!--<edit-user :userdata="row" />-->
        </template>
        <template v-slot:[`item.type`]="{ item }">
          <v-chip
            :color="getColor(item.type)"
            dark
          >
            {{ item.type }}
          </v-chip>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  import {
    mapState,
  } from 'vuex'

  export default {
    name: 'DashboardDashboard',

    data () {
      return {
        items: [],
        dialog: false,
        itemDelete: false,
        editedIndex: -1,
        editedItem: {
          id: '',
          drop: '',
          date: '',
          location: '',
          type: '',
          status: '',
        },
        defaultItem: {
          id: '',
          drop: '',
          date: '',
          location: '',
          type: '',
          status: '',
        },
        activeUser: Object,
        search: '',
        tabs: 0,
      }
    },

    computed: {
      ...mapState([]),
      headers: {
        get () {
          return this.$store.state.headersWaypoints
        },
      },
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      itemDelete (val) {
        val || this.closeDelete()
      },
    },

    mounted () {
      this.RetriveAllWaypoint()
    },
    methods: {
      testFunck () {
        console.log(this.items)
      },
      getColor (type) {
        if (type === 'fire') return 'red'
        else if (type === 'car crash') return 'orange'
        else if (type === 'closed road') return 'yellow'
        else if (type === 'market') return 'green'
        else if (type === 'street art') return 'light blue'
        else return 'grey'
      },
      handleClickWaypointRow (row) {
        // console.log(row)
        // todo : open detail
      },
      editItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.itemDelete = true
      },
      deleteItemConfirm () {
        this.RemoveWaypointApi()
        this.items.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.itemDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          // this.UpdateWaypointsApi(this.items[this.editedIndex]._id, this.editedItem.firstName, this.editedItem.lastName, this.editedItem.mail, this.editedItem.favoriteTransport, this.editedItem.homeAddress, this.items[this.editedIndex].workAddress)
          Object.assign(this.items[this.editedIndex], this.editedItem)
        } else {
          // this.NewWaypointApi(this.editedItem.firstName, this.editedItem.lastName, this.editedItem.mail, this.editedItem.birthDate, this.editedItem.password)
          this.editedItem._id = this.getIdOfUserByMailApi(this.editedItem.mail)
          this.items.push(this.editedItem)
        }
        this.close()
      },
      complete (index) {
        this.list[index] = !this.list[index]
      },
      async UpdateWaypointsApi (id, _firstName, _lastName, _mail, _favoriteTransport, _homeAddress, _workAddress, _profilePicture) {
        const axios = require('axios')
        await axios.post('http://185.223.73.69:8080/updatebalise', { // todo : edit params to send + edit form in frontend
          _id: id,
          firstName: _firstName,
          lastName: _lastName,
          mail: _mail,
          favoriteTransport: _favoriteTransport,
          homeAddress: _homeAddress,
          workAddress: _workAddress,
          profilePicture: _profilePicture,
        }, {
          headers: {
            'content-type': 'application/json',
          },
        },
        ).then((res) => {
          // console.log(res.data)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
      async getIdOfWaypointsByMailApi (_mail) {
        const axios = require('axios')
        await axios.post('http://185.223.73.69:8080/getwaypoint', { // todo : nom de la methode pas ok
          mail: _mail, // todo : variable a envoyer probableme pas bonne -> date ou rien
        }, {
          headers: {
            'content-type': 'application/json',
          },
        },
        ).then((res) => {
          // console.log(res.data._id)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
      async NewWaypointApi (_firstName, _lastName, _mail, _birthDate, _password) { // todo : maj les parametre en fonction des données du front
        const axios = require('axios')
        await axios.post('http://185.223.73.69:8080/newWaypoint', { // todo : nom de la methode pas ok, voir le vrai call api +
          firstName: _firstName,
          lastName: _lastName,
          mail: _mail,
          birthDate: _birthDate,
          password: _password,
        }, {
          headers: {
            'content-type': 'application/json',
          },
        },
        ).then((res) => {
          // console.log(res.data)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
      async RemoveWaypointApi () {
        const axios = require('axios')
        await axios.post('http://185.223.73.69:8080/removewaypoint', { // todo : ganger nom du call api
          _id: this.items[this.editedIndex]._id, // todo : maj le parametre du call api
        }, {
          headers: {
            'content-type': 'application/json',
          },
        },
        ).then((res) => {
          // console.log(res.data)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
      RetriveAllWaypoint () { // todo : changer le nom du la methode en GetAllWaypointsApi
        // console.log('get all waypoints : Call API ')
        const axios = require('axios')
        axios.get('http://185.223.73.69:8080/retrieveallbalises').then((res) => {
          this.items = res.data.features
          this.items = this.converteApiWaypointToArrayWaypoints(res.data.features)
          // console.log(res.data.features)
        }).catch((error) => {
          console.error(error.response.data)
        })
      },
    },
  }
</script>

<style>
.selected {
    background-color: red
}
</style>
